<div class="all">
  <div class="header">
    <div class="header-title">
      <%= link_to 'KYO MESHI', "#", method: :get %>
    </div>
    <ul>
      <li class="group-name">
        <%= link_to("#", method: :get)  do%>
          ああああああああああああ<%# １２文字まで %>
          <div class="triangle"></div>
        <% end %>
      <li>
      <li class="account-logo"></li>
    </ul>
  </div>
  <div class="contents">
    <div class="title-box">
      <div class="group-name">"ああああああああああああ"</div>
       <p>のご飯</p>
      <select class="subtitle" >
        <option value="" hidden>選択してください</option>
        <option value="1">６日の夕食</option>
        <option value="2">７日の昼食</option>
        <option value="3">７日の夕食</option>
        <option value="4">７日の夜食</option>
      </select>
    </div>
    <div class="main-content">
      <div class="ranking">
        <div class="rank1">
          <i class="fas fa-award"></i>  
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="rank2">
          <i class="fas fa-award"></i> 
          <i class="fas fa-file-alt"></i>
        </div>
        <div class="rank3">
          <i class="fas fa-award"></i> 
          <i class="fas fa-file-alt"></i>
        </div>
      </div>
      <div class="posts">
        <div class="post-box1">
          <div class="post1">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="this">これ！</div>
        </div>
        <div class="post-box2">
          <div class="post2">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="this">これ！</div>
        </div>
        <div class="post-box3">
          <div class="post3">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="this">これ！</div>
        </div>
        <div class="post-box4">
          <div class="post4">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="this">これ！</div>
        </div>
        <div class="post-box5">
          <div class="post5">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="this">これ！</div>
        </div>
        <div class="post-box6">
          <div class="post6">
            <i class="fas fa-file-alt"></i>
          </div>
          <div class="this">これ！</div>
        </div>
      </div>
    </div> 
    <div class="right-content">
      <div class="new-table">
         <%= link_to '新たなテーブルを作成', "#", method: :get %>
      </div>
      <div class="new-post">
        <%= link_to '投稿する', "#", method: :get %>
      </div>
      <div class="sidebox-title">探す</div>
      <div class="sidebox-contents">
        <div class="find-shop">お店を探す</div>
        <a href="#"><p>食べログ</p></a>
        <a href="#"><p>ホットペッパーグルメ</p></a>
        
        <div class="find-recipe">献立を探す</div>
        <a href="#"><p>クックパッド</p></a>
        <a href="#"><p>DELISH KITCHEN</p></a>
      </div>
    </div>
  </div>
</div>